@model ReservationRestaurantAdmin.Models2.UserSystem

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-body">
    <h1>Details</h1>
    <h4 class="card-title">User Info</h4>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td class="text-dark font-weight-semibold">@Model.id</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td class="text-dark font-weight-semibold">@Model.phone</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td class="text-dark font-weight-semibold">@Model.password</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td class="text-dark font-weight-semibold">@Model.name</td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td class="text-dark font-weight-semibold">
                        @if(@Model.role.Equals('c'))
                        {
                            <p>User</p>
                        }

                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td class="text-dark font-weight-semibold">
                        @if (Model.status.Equals(true))
                        {
                            <p style="color:green">Acive</p>
                                    }
                        else
                        {
                            <p style="color:red">Block</p>
                        }
                    </td>
                </tr>


            </tbody>
        </table>

    </div>
    <div>
        <a class="btn btn-primary m-r-5" asp-action="Edit" asp-route-id="@Model.phone">Edit</a> |
        <a class="btn btn-success  m-r-5" asp-action="Index">Back to List</a>
    </div>
</div>


