@model ReservationRestaurantAdmin.Models2.Reservations

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h1>Details</h1>
<h4 class="card-title">Booking ID Info - @Model.id</h4>
<div class="card-body">
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
@*                <tr>
                    <td>ID</td>
                    <td class="text-dark font-weight-semibold">@Model.id</td>
                </tr>*@
                <tr >
                    <td>Phone</td>
                    <td class="font-weight-semibold" style="color:red">@Model.userSysterm.phone</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td class="text-dark font-weight-semibold" >@Model.userSysterm.name</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td class="text-dark font-weight-semibold">@Model.date</td>
                </tr>
                <tr>
                    <td>Start Time</td>
                    <td class="text-dark font-weight-semibold">@Model.startTime</td>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td class="text-dark font-weight-semibold">@Model.endTime</td>
                </tr>
                <tr>
                    <td>Number Guest</td>
                    <td class="text-dark font-weight-semibold">@Model.number_guest</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td class="text-dark font-weight-semibold">@Model.description</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td class="text-dark font-weight-semibold">@Model.price</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td class="text-dark font-weight-semibold">@Model.discount</td>
                </tr>


                @if (string.IsNullOrEmpty(Model.phone_guest))
                {
                    <tr>
                        <td>PhoneGuest</td>
                        <td class="text-dark font-weight-semibold">@Model.userSysterm.phone</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>PhoneGuest</td>
                        <td class="text-dark font-weight-semibold">@Model.phone_guest</td>
                    </tr>
                }
                @if (string.IsNullOrEmpty(Model.feedback))
                {

                    <tr>
                        <td>Feedback</td>
                        <td class="text-dark font-weight-semibold"> Chưa có feedback </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Feedback</td>
                        <td class="text-dark font-weight-semibold">@Model.feedback </td>
                    </tr>
                }



                @if (Model.status.Equals(true))
                {
                    <tr>
                        <td>Status</td>
                        <td style="color:green" class=" font-weight-semibold">Approved</td>

                    </tr>
                }
                else
                {
                    <tr>
                        <td>Status</td>
                        <td style="color:red" class=" font-weight-semibold">Pending</td>
                    </tr>
                }


            </tbody>
        </table>

    </div>
   
        <div>
     @*   <a class="btn btn-sm btn-primary m-r-5" asp-action="Edit" asp-route-id="@Model.id">Edit</a> |*@
        <a class="btn btn-sm btn-primary m-r-5" asp-action="Index">Back to List</a>
        </div>
    
</div>

